<footer class="main-footer">
    <div class="container">
       <div class="row">
          <div class="col-md-5">
             <div class="widget widget_links">
                <h5 class="widget-title">Top Locations</h5>
                <ul>
                   <li><a href="#">Lorem impsum dolor</a></li>
                   <li><a href="#">Sit amet consectetur</a></li>
                   <li><a href="#">Adipisicing elit</a></li>
                   <li><a href="#">Eiusmod tempor</a></li>
                   <li><a href="#">incididunt ut labore</a></li>
                </ul>
             </div>
          </div>

          <div class="col-md-5">
             <div class="widget widget_links">
                <h5 class="widget-title">Featured Boats</h5>
                <ul>
                   <li><a href="#">Lorem impsum dolor</a></li>
                   <li><a href="#">Sit amet consectetur</a></li>
                   <li><a href="#">Adipisicing elit</a></li>
                   <li><a href="#">Eiusmod tempor</a></li>
                </ul>
             </div>
          </div>

          <div class="col-md-9">
             <div class="widget widget_social">
                <h5 class="widget-title">Subscribe to our newsletter</h5>
                <form class="subscribe-form">
                   <div class="input-line">
                      <input type="text" name="subscribe-email" value="" placeholder="Your email address" />
                   </div>
                   <button type="button" name="subscribe-submit" class="btn btn-special no-icon">Subscribe</button>
                </form>

                <ul class="clean-list social-block">
                   <li>
                      <a href="#"><i class="icon-facebook"></i></a>
                   </li>
                   <li>
                      <a href="#"><i class="icon-twitter"></i></a>
                   </li>
                   <li>
                      <a href="#"><i class="icon-google-plus"></i></a>
                   </li>
                </ul>
             </div>
          </div>

          <div class="col-md-5">
             <div class="widget widget_links">
                <h5 class="widget-title">Contact us</h5>
                <ul>
                   <li><a href="#">Lorem impsum dolor</a></li>
                   <li><a href="#">Sit amet consectetur</a></li>
                   <li><a href="#">Adipisicing elit</a></li>
                   <li><a href="#">Eiusmod tempor</a></li>
                   <li><a href="#">incididunt ut labore</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </footer>

 <!-- Scripts -->
 <script src="../js/jquery.js"></script>
 <script src="../js/functions.js"></script>
</body>
</html>