<footer class="main-footer">
      <div class="container">
         <div class="row">

            <div class="col-md-5">
               <div class="widget widget_links">
                  <h5 class="widget-title">Servicios</h5>
                  <ul>
                     <li><a href="../vista_artistas.php">Artistas</a></li>
                     <li><a href="../vista_obras.php">Obras</a></li>
                     <li><a href="../vista_lugares.php">Lugares de interes</a></li>
                  </ul>
               </div>
            </div>

            <div class="col-md-5">
               <div class="widget widget_links">
                  <h5 class="widget-title">Viajes y estadía</h5>
                     <ul>
                        <li><a href="../vista_comprar_ticket.php">Comprar ticket de viaje</a></li>
                        <li><a href="../vista_hacer_reserva.php">Hacer reserva de hotel</a></li>
                        <li><a href="../vista_itinerario.php">Crear itinerario</a></li>
                     </ul>
               </div>
            </div>

            
            <div class="col-md-5">
               <div class="widget widget_links">
                  <h5 class="widget-title">Autores</h5>
                  <ul>
                     <li><a href="https://www.instagram.com/diegoemilio01/?hl=es-la" target="_blank">Diego Bustamante</a></li>
                     <li><a href="https://www.instagram.com/luckbox314/?hl=es-la" target="_blank">Lucas Muñoz</a></li>
                     <li><a href="https://www.instagram.com/eli_sabja/?hl=es-la" target="_blank">Elias Sabja</a></li>
                  </ul>
               </div>
            </div>
            
         </div>
      </div>
   </footer>

 <!-- Scripts -->
 <script src="../../js/jquery.js"></script>
 <script src="../../js/functions.js"></script>
</body>
</html>